.hero-section {
  position: relative;
  z-index: 1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 124px !important;
  background-image: linear-gradient(
          160deg,
          hsl(248deg 100% 91%) 27%,
          hsl(251deg 99% 89%) 53%,
          hsl(254deg 98% 87%) 61%,
          hsl(256deg 97% 86%) 67%,
          hsl(258deg 97% 84%) 72%,
          hsl(259deg 96% 82%) 75%,
          hsl(260deg 95% 81%) 79%,
          hsl(261deg 95% 79%) 82%,
          hsl(262deg 94% 77%) 84%,
          hsl(262deg 94% 76%) 86%,
          hsl(262deg 94% 74%) 88%,
          hsl(263deg 93% 72%) 90%,
          hsl(263deg 93% 71%) 92%,
          hsl(263deg 92% 69%) 93%,
          hsl(263deg 92% 67%) 94%,
          hsl(263deg 92% 65%) 95%,
          hsl(263deg 91% 63%) 96%,
          hsl(263deg 91% 61%) 97%,
          hsl(263deg 91% 59%) 98%,
          hsl(263deg 91% 57%) 99%,
          hsl(264deg 90% 54%) 99%,
          hsl(265deg 91% 50%) 100%
  );
}

.hero-content {
  padding: 3.5rem !important;
  color: #000000;
  text-align: left;
}

.heading {
  margin-top: 100px !important;
  font-size: 2.4em !important;
  padding-left: 50px !important;
  text-align: center !important;
}

.desc {
  font-size: 18px !important;
  padding-left: 50px !important;
  text-align: center !important;
  color: #464b4a;
}

@media (max-width: 767px) {
  .hero-section {
    padding-top: 40px !important;
  }

  .heading {
    margin-top: 0px !important;
  }

  .hero-section {
    margin-bottom: 40px;
  }

  .heading {
    font-size: 2.4em !important;
    padding-left: 20px !important;
  }

  .desc {
    font-size: 18px !important;
    padding-left: 20px !important;
  }
}

.App-particles__container {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}
.App-particles__container canvas {
  transition: 0.2s all ease-in-out;
  z-index: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 767px) {
  .hero-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/main3.svg");
  }
}
